USE [epimon]
GO
/****** Object:  Table [dbo].[characters]    Script Date: 3/7/2017 11:44:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[characters](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[health] [int] NULL,
	[attack] [int] NULL,
	[speed] [int] NULL,
	[img] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[characters_moves]    Script Date: 3/7/2017 11:45:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[characters_moves](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[character_id] [int] NULL,
	[move_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[moves]    Script Date: 3/7/2017 11:45:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[moves](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[type] [varchar](255) NULL,
	[dmg] [int] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[characters] ON 

INSERT [dbo].[characters] ([id], [type], [name], [health], [attack], [speed], [img]) VALUES (1, N'fire', N'Varchar', 80, 20, 90, N'/content/img/varchar.png')
INSERT [dbo].[characters] ([id], [type], [name], [health], [attack], [speed], [img]) VALUES (2, N'rock', N'Rubydude', 100, 16, 75, N'/content/img/ruby.png')
INSERT [dbo].[characters] ([id], [type], [name], [health], [attack], [speed], [img]) VALUES (3, N'electric', N'Thunderscript', 85, 19, 100, N'/content/img/thunderscript.png')
SET IDENTITY_INSERT [dbo].[characters] OFF
SET IDENTITY_INSERT [dbo].[characters_moves] ON 

INSERT [dbo].[characters_moves] ([id], [character_id], [move_id]) VALUES (1, 1, 1)
INSERT [dbo].[characters_moves] ([id], [character_id], [move_id]) VALUES (2, 1, 2)
INSERT [dbo].[characters_moves] ([id], [character_id], [move_id]) VALUES (3, 1, 4)
SET IDENTITY_INSERT [dbo].[characters_moves] OFF
SET IDENTITY_INSERT [dbo].[moves] ON 

INSERT [dbo].[moves] ([id], [name], [type], [dmg]) VALUES (1, N'tackle', N'normal', 15)
INSERT [dbo].[moves] ([id], [name], [type], [dmg]) VALUES (2, N'slash', N'normal', 13)
INSERT [dbo].[moves] ([id], [name], [type], [dmg]) VALUES (3, N'flamethrower', N'fire', 25)
SET IDENTITY_INSERT [dbo].[moves] OFF
