@{
    Layout="Shared/_Layout.cshtml";
}

<body class="character-select">
    <div class="container">
      <div class="row">
        <span id="character-select">Select Character</span>
        <div class="col-md-11">
          <form class="characters" action="/arena" method="post">
            @foreach(var character in Model)
            {
              <img src="@character.GetImg()">
              <div class="player-select">
              <div id="character-name">@character.GetName()</div>
              <label>Player 1</label>
              <input type="radio" name="character1-id" value="@character.GetId()">
              <label>Player 2</label>
              <input type="radio" name="character2-id" value="@character.GetId()">
              </div>
            }
<<<<<<< HEAD
            <div class="row">
                <button type="submit" class="btn">Fight!</button>
            </div>
=======
        </div>
        <div class="col-md-1">
          <button type="submit" class="btn fight">Fight!</button>
        </div>
      </div>
>>>>>>> 5a157a5f19208f44ed2918cc4ae4ed7073ff22b9
        </form>
    </div>
</body>
