@{
    Layout="Shared/_Layout.cshtml";
}

<body class="character-select">
    <div class="container">
        <span id="character-select">Select Character</span>
        <form class="characters" action="/arena" method="post">
            @foreach(var character in Model)
            {
                <img src="@character.GetImg()">
                <span class="character-name">@character.GetName()</span>
                <label class="character-name">Player 1</label>
                <input type="radio" name="player1" value="@character.GetId()">
                <label class="character-name">Player 2</label>
                <input type="radio" name="player2" value="@character.GetId()">
            }
            <button type="submit" class="btn">Fight!</button>
        </form>
    </div>
</body>
