@{
    Layout="Shared/_Layout.cshtml";
}
<body class="game-over">
  <div class="">
      <div class="game-over-color">
          <h1>Player 2 and @Model["character2"].GetName() Wins!</h1>
      </div>
    <img src="@Model["character2"].GetImg2()">
  </div>
    <div class="continue">
        <a href="/"><img src="/content/img/continue.png" alt=""></a>
    </div>
</body>
