@{
    Layout="Shared/_Layout.cshtml";
}
<p class="title">Ep&#x00e9;mon</p>
<div class="home-style">
  <img src="/content/img/title1.png" alt=""><br>
  <div class="buttons btn">
    <button type="submit" class="btn btn-lg"><a href="/character-select">Start</a></button>
    <button type="submit" class="btn btn-lg"><a href="/">Reset</a></button>
  </div>
</div>
