.start-menu {

   background-image: url("/content/img/background2.png");
   background-size: cover;
   background-attachment: fixed;
   /*height: 100%;
   color: white;*/
   background-repeat: no-repeat;
}

.character-select {

   background-image: url("/content/img/character-select.jpg");
   background-size: cover;
   background-attachment: fixed;
   height: 100%;
   color: white;
   background-repeat: no-repeat;

}

img {
    width: 50%;
}

#character-select {
    font-family: 'Press Start 2P';
    font-size: 5em;
    color: black
}

.character-name {
    font-family: 'Press Start 2P';
}
