.start-menu {
   background-color: black;
}

.character-select {
   background-image: url("/content/img/character-select1.jpg");
   font-family: 'Press Start 2P';
   background-size: cover;
   background-attachment: fixed;
   color: white;
   background-repeat: no-repeat;
}

.playerImg1:hover, .playerImg2:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-3px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(6px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-12px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(12px, 0, 0);
  }
}

characters img {
    width: 30%;
}

#character-select {
    font-size: 5em;
    color: black;
}

.player-select {
    float: right;
    margin-right: 30%;
}

#character-name {
    font-size: 3em;
}

.game-over {
background-color: black;
font-family: 'Press Start 2P';
color: white;
text-align: center;
margin-top: 10%;
}

.playerImg1 img {
    width: 100%;
}

.playerImg2 img {
    width: 100%;

}

.continue {
    text-align: center;
    margin-top: 15%;
}

.buttons {
    /*margin-top: 60%;*/

    font-family: 'Press Start 2P';
}

.arena {
  background-image: url("/content/img/arena.jpg");
  font-family: 'Press Start 2P';
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.fight {
  float: right;
  font-size: 3em;
  color: black;
}

.arena-character {
  margin-top: 23%;
}

.stats {
  background-color: rgba(220, 220, 220, .8);
  border: solid black 1px;
  border-radius: 5px;
  padding: 5px;
  width: 80%;
  margin-left: 10%;
  text-align: center;
}

.attack {
  background-color: red;
}

select {
  padding: 4px;
}

body {
  background-color: black;
}

.home-style {
  text-align: center;
  margin-top: 20%;
}
