body {

   background-image: url("/content/img/start-menu1.jpg");
   background-size: cover;
   background-attachment: fixed;
   /*height: 100%;
   color: white;*/
   background-repeat: no-repeat;;
}
